In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Placement_Data_Full_Class.csv')

In [3]:
data.tail(20)

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
195,196,M,66.00,Central,76.00,Central,Commerce,72.00,Comm&Mgmt,Yes,84.00,Mkt&HR,58.95,Placed,275000.0
196,197,M,72.00,Others,63.00,Others,Science,77.50,Sci&Tech,Yes,78.00,Mkt&Fin,54.48,Placed,250000.0
197,198,F,83.96,Others,53.00,Others,Science,91.00,Sci&Tech,No,59.32,Mkt&HR,69.71,Placed,260000.0
198,199,F,67.00,Central,70.00,Central,Commerce,65.00,Others,No,88.00,Mkt&HR,71.96,Not Placed,NaN
199,200,M,69.00,Others,65.00,Others,Commerce,57.00,Comm&Mgmt,No,73.00,Mkt&HR,55.80,Placed,265000.0
200,201,M,69.00,Others,60.00,Others,Commerce,65.00,Comm&Mgmt,No,87.55,Mkt&Fin,52.81,Placed,300000.0
201,202,M,54.20,Central,63.00,Others,Science,58.00,Comm&Mgmt,No,79.00,Mkt&HR,58.44,Not Placed,NaN
202,203,M,70.00,Central,63.00,Central,Science,66.00,Sci&Tech,No,61.28,Mkt&HR,60.11,Placed,240000.0
203,204,M,55.68,Others,61.33,Others,Commerce,56.87,Comm&Mgmt,No,66.00,Mkt&HR,58.30,Placed,260000.0
204,205,F,74.00,Others,73.00,Others,Commerce,73.00,Comm&Mgmt,Yes,80.00,Mkt&Fin,67.69,Placed,210000.0
205,206,M,61.00,Others,62.00,Others,Commerce,65.00,Comm&Mgmt,No,62.00,Mkt&Fin,56.81,Placed,250000.0
206,207,M,41.00,Central,42.00,Central,Science,60.00,Comm&Mgmt,No,97.00,Mkt&Fin,53.39,Not Placed,NaN
207,208,M,83.33,Central,78.00,Others,Commerce,61.00,Comm&Mgmt,Yes,88.56,Mkt&Fin,71.55,Placed,300000.0
208,209,F,43.00,Central,60.00,Others,Science,65.00,Comm&Mgmt,No,92.66,Mkt&HR,62.92,Not Placed,NaN
209,210,M,62.00,Central,72.00,Central,Commerce,65.00,Comm&Mgmt,No,67.00,Mkt&Fin,56.49,Placed,216000.0
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.00,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.00,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.00,Mkt&HR,60.22,Not Placed,NaN

In [4]:
# sns.heatmap(data.isna())

In [5]:
#assuming that not placed student's salary is 0.
# data['salary'] = data.salary.fillna(0)
data.drop('sl_no',axis=1,inplace=True)

In [6]:
data.isna().sum()

gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [7]:
# data.info()

In [8]:
# plt.subplot(3,2,1)
# sns.boxplot(data.ssc_p)
# plt.subplot(3,2,2)
# sns.boxplot(data.hsc_p)
# plt.subplot(3,2,3)
# sns.boxplot(data.degree_p)
# plt.subplot(3,2,4)
# sns.boxplot(data.etest_p)
# plt.subplot(3,2,5)
# sns.boxplot(data.mba_p)

In [9]:
clmns = ['gender','ssc_b','hsc_b','hsc_s','degree_t','workex','specialisation','status']
# clmns
from sklearn.preprocessing import LabelEncoder
lblen = LabelEncoder()
for clmn in clmns:    
    data[clmn] = lblen.fit_transform(data[clmn])
data.tail(20)

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
195,1,66.00,0,76.00,0,1,72.00,0,1,84.00,1,58.95,1,275000.0
196,1,72.00,1,63.00,1,2,77.50,2,1,78.00,0,54.48,1,250000.0
197,0,83.96,1,53.00,1,2,91.00,2,0,59.32,1,69.71,1,260000.0
198,0,67.00,0,70.00,0,1,65.00,1,0,88.00,1,71.96,0,NaN
199,1,69.00,1,65.00,1,1,57.00,0,0,73.00,1,55.80,1,265000.0
200,1,69.00,1,60.00,1,1,65.00,0,0,87.55,0,52.81,1,300000.0
201,1,54.20,0,63.00,1,2,58.00,0,0,79.00,1,58.44,0,NaN
202,1,70.00,0,63.00,0,2,66.00,2,0,61.28,1,60.11,1,240000.0
203,1,55.68,1,61.33,1,1,56.87,0,0,66.00,1,58.30,1,260000.0
204,0,74.00,1,73.00,1,1,73.00,0,1,80.00,0,67.69,1,210000.0
205,1,61.00,1,62.00,1,1,65.00,0,0,62.00,0,56.81,1,250000.0
206,1,41.00,0,42.00,0,2,60.00,0,0,97.00,0,53.39,0,NaN
207,1,83.33,0,78.00,1,1,61.00,0,1,88.56,0,71.55,1,300000.0
208,0,43.00,0,60.00,1,2,65.00,0,0,92.66,1,62.92,0,NaN
209,1,62.00,0,72.00,0,1,65.00,0,0,67.00,0,56.49,1,216000.0
210,1,80.60,1,82.00,1,1,77.60,0,0,91.00,0,74.49,1,400000.0
211,1,58.00,1,60.00,1,2,72.00,2,0,74.00,0,53.62,1,275000.0
212,1,67.00,1,67.00,1,1,73.00,0,1,59.00,0,69.72,1,295000.0
213,0,74.00,1,66.00,1,1,58.00,0,0,70.00,1,60.23,1,204000.0
214,1,62.00,0,58.00,1,2,53.00,0,0,89.00,1,60.22,0,NaN

In [10]:
salary = data.salary
# salary
data.drop('salary',axis=1,inplace=True)

In [11]:
train_data = data.drop('status',axis=1)
from sklearn.model_selection import train_test_split as tts
x_train,x_test,y_train,y_test = tts(train_data,data.status,test_size=0.2,random_state=42)

In [39]:
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x_train,y_train)

# logreg_pred = logreg.predict(x_test)
prediction = x_test.apply(lambda x: logreg.predict([x])[0],axis=1)
# for ind in x_test.index():
#     print()
    
# prediction
# for edata in x_test:
#     status = logreg.predict(edata)
# status
# print(confusion_matrix(logreg_pred,y_test))
# print(accuracy_score(logreg_pred,y_test))

d:\python38\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

TypeError: 'Int64Index' object is not callable

In [42]:
# type(logreg_pred)
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,mean_squared_log_error,r2_score

linreg = LinearRegression()
linreg.fit(x_train,y_train)

print(linreg.predict([[0,67.00,0,70.00,0,1,65.00,1,0,88.00,1,71.96,0]]))

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 12 is different from 13)

In [43]:
# from sklearn.neighbors import KNeighborsClassifier
# knn_clf = KNeighborsClassifier()
# knn_clf.fit(x_train,y_train)

# knn_pred = knn_clf.predict(x_test)
# print(confusion_matrix(knn_pred,y_test))
# print(accuracy_score(knn_pred,y_test))

In [14]:
# from sklearn.tree import DecisionTreeClassifier
# dt_clf = DecisionTreeClassifier(max_depth=5)
# dt_clf.fit(x_train,y_train)

# dt_pred = dt_clf.predict(x_test)
# print(confusion_matrix(dt_pred,y_test))
# print(accuracy_score(dt_pred,y_test))

In [15]:
# from xgboost import XGBClassifier
# xgb_clf = XGBClassifier()
# xgb_clf.fit(x_train,y_train)

# xgb_pred = xgb_clf.predict(x_test)
# print(confusion_matrix(xgb_pred,y_test))
# print(accuracy_score(xgb_pred,y_test))

In [16]:
# from sklearn.ensemble import RandomForestClassifier
# rf_clf = RandomForestClassifier(n_estimators=100)
# rf_clf.fit(x_train,y_train)

# rf_pred = rf_clf.predict(x_test)
# print(confusion_matrix(rf_pred,y_test))
# print(accuracy_score(rf_pred,y_test))